/* ================================= 
  Flexbox
==================================== */

.container {
	
	display: flex;

	flex-wrap: wrap;

	justify-content: space-around;
}


.item-6 {
	
order: 1;
	
}