/* ================================= 
  Flexbox
==================================== */

.container {
	
	display: flex;

	flex-wrap: wrap;

	justify-content: space-around;
	
	flex-direction: column;
}


.item {
	
	flex-grow: 1;
	
}